
SupClaim/.vs/SupClaim/project-colors.json
SupClaim/.vs/SupClaim/v17/.suo
*.json
*.dll
*.exe
*.pdb
*.cache
*.cache
SupClaim/SupClaim/obj/Debug/net6.0/SupClaim.csproj.FileListAbsolute.txt
SupClaim/SupClaim/obj/Debug/net6.0/SupClaim.assets.cache
SupClaim/SupClaim/obj/Debug/net6.0/SupClaim.GeneratedMSBuildEditorConfig.editorconfig
SupClaim/SupClaim/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SupClaim/SupClaim/obj/Debug/net6.0/SupClaim.AssemblyInfo.cs
SupClaim/SupClaim/obj/Debug/net6.0/SupClaim.GlobalUsings.g.cs
*.config
*.CopyComplete
*.props
*.targets
SupClaim/SupClaim/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SupClaim/SupClaim/obj/Release/net6.0/SupClaim.AssemblyInfo.cs
SupClaim/SupClaim/obj/Release/net6.0/SupClaim.csproj.FileListAbsolute.txt
SupClaim/SupClaim/obj/Release/net6.0/SupClaim.GeneratedMSBuildEditorConfig.editorconfig
SupClaim/SupClaim/obj/Release/net6.0/win-x64/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SupClaim/SupClaim/obj/Release/net6.0/win-x64/linked/Link.semaphore
SupClaim/SupClaim/obj/Release/net6.0/win-x64/PublishOutputs.55d7f88b7e.txt
SupClaim/SupClaim/obj/Release/net6.0/win-x64/SupClaim.AssemblyInfo.cs
SupClaim/SupClaim/obj/Release/net6.0/win-x64/SupClaim.csproj.FileListAbsolute.txt
SupClaim/SupClaim/obj/Release/net6.0/win-x64/SupClaim.GeneratedMSBuildEditorConfig.editorconfig
SupClaim/SupClaim/obj/Release/net6.0/SupClaim.GlobalUsings.g.cs
SupClaim/SupClaim/obj/Release/net6.0/win-x64/SupClaim.GlobalUsings.g.cs
SupClaim/SupClaim/SupClaim.csproj.user
SupClaim/SupClaim/Properties/PublishProfiles/FolderProfile.pubxml.user
SupClaim/SupClaim/Properties/PublishProfiles/FolderProfile.pubxml
